{{/* . GameInfo */}}

{{define "gameshort"}}
<div class="game-short">
  {{template "gameshort-team" .ThisTeam}}{{template "gameshort-team" .OtherTeam}}
</div>
{{end}}

{{define "gameshort-team"}}<div class="{{if .IsBlueTeam}}blue-team{{else}}purple-team{{end}}">
  <div class="header">
    <div class="champion-icon-row">
      {{range .Players}}{{template "champsmall" .ChampionId}}{{end}}
    </div>
  </div>
  <table class="short-player-stats">
    <tr class="header">
      <th>Player</th>
      <th>Lvl</th>
      <th>K/D/A</th>
      <th>CS</th>
      <th>Wards</th>
    </tr>
    {{range .PlayerStats}}
      <tr class="{{if .IsOnAppTeam}}member{{else}}other{{end}}">
        <td>{{.Player.Summoner}}</td>
      {{if .NotAvailable}}
        <td colspan="4" class="blend">no longer available</td>
      {{else}}
        {{if .Saved}}
          {{with .Stats.RiotData}}
            <td>{{.Level}}</td>
            <td>{{.ChampionsKilled}}/{{.NumDeaths}}/{{.Assists}}</td>
            <td>{{.MinionsKilled}}</td>
            <td>{{.SightWardsBought}}/{{.VisionWardsBought}} ({{.WardPlaced}})</td>
          {{end}}
        {{else}}
          <td colspan="4" class="blend">not fetched yet</td>
        {{end}}
      {{end}}
      </tr>
    {{end}}
  </table>
</div>{{end}}