{{/* . GameInfo */}}

{{define "gamelong"}}
<div class="game-long">
  <div class="header">
    <div class="game-info">
      {{.Game.StartDateTime.Format "Jan _2 15:04"}}
      -
      {{.Game.FormatGameType}}
    </div>
  </div>
  {{template "gamelong-team" .ThisTeam}}{{template "gamelong-team" .OtherTeam}}
</div>
{{end}}

{{define "gamelong-team"}}<div class="{{if .IsBlueTeam}}blue-team{{else}}purple-team{{end}} team">
  {{$team := .}}
  <div class="header">
    <div class="team-summary">
      <p class="kda"><span class="summary-label">KDA:</span> {{.ChampionsKilled}}/{{.NumDeaths}}/{{.Assists}}</p>
      <p class="gold"><span class="summary-label">Gold:</span> {{gold .GoldEarned}}</p>
    </div>
  </div>
  <table class="long-player-stats">
    <tr class="header">
      <th><!-- Champion --></th>
      <th>Player</th>
      <th>Lvl</th>
      <th>K/D/A</th>
      <th>CS</th>
      <th>Wards</th>
      <th>Summoners</th>
      <th>Items</th>
    </tr>
    {{range $i, $stats := $team.PlayerStats}}
    {{$p := index $team.Players $i}}
      <tr class="{{if even $i}}even{{else}}odd{{end}} {{if .IsOnAppTeam}}member{{else}}other{{end}}">
        <td>
          {{template "champsmall" $p.ChampionId}}
        </td>
        <td>
            <span class="player-summoner-name">{{$stats.Player.Summoner}}</span>
        </td>
      {{if .NotAvailable}}
        <td colspan="6" class="blend">no longer available</td>
      {{else}}
        {{if .Saved}}
          {{with .Stats.RiotData}}
            <td>{{.Level}}</td>
            <td>{{.ChampionsKilled}}/{{.NumDeaths}}/{{.Assists}}</td>
            <td>{{.MinionsKilled}}</td>
            <td>{{.SightWardsBought}}/{{.VisionWardsBought}} ({{.WardPlaced}})</td>
            <td>{{template "summonersmall" .SummonerSpell1}}{{template "summonersmall" .SummonerSpell2}}</td>
            <td>{{template "itemsmall" .Item0}}{{template "itemsmall" .Item1}}{{template "itemsmall" .Item2}}{{template "itemsmall" .Item3}}{{template "itemsmall" .Item4}}{{template "itemsmall" .Item5}}{{template "itemsmall" .Item6}}</td>
          {{end}}
        {{else}}
          <td colspan="6" class="blend">not fetched yet</td>
        {{end}}
      {{end}}
      </tr>
    {{end}}
  </table>
</div>{{end}}
