{{/* . GameInfo */}}

{{define "gamelong"}}
<div class="game-long">
  <div class="blue-team">
    {{template "gamelong-team" .BlueTeam}}
  </div><div class="purple-team">
    {{template "gamelong-team" .PurpleTeam}}
  </div>
</div>
{{end}}

{{define "gamelong-team"}}
  {{$team := .}}
  <div class="header">
    <!-- TODO team stat totals -->
  </div>
  <table class="long-player-stats">
    <tr class="header">
      <th><!-- Champion --></th>
      <th>Player</th>
      <th>Lvl</th>
      <th>K/D/A</th>
      <th>CS</th>
      <th>Wards</th>
      <th>Summoners</th>
      <th>Items</th>
    </tr>
    {{range $i, $stats := $team.PlayerStats}}
      <tr class="{{if even $i}}even{{else}}odd{{end}}">
        <td>
          {{$p := index $team.Players $i}}
          {{template "champsmall" $p.ChampionId}}
        </td>
        <td>{{$stats.Player.Summoner}}</td>
      {{if .NotAvailable}}
        <td colspan="6" class="blend">no longer available</td>
      {{else}}
        {{if .Saved}}
          {{with .Stats.RiotData}}
            <td>{{.Level}}</td>
            <td>{{.ChampionsKilled}}/{{.NumDeaths}}/{{.Assists}}</td>
            <td>{{.MinionsKilled}}</td>
            <td>{{.SightWardsBought}}/{{.VisionWardsBought}} ({{.WardPlaced}})</td>
            <td>{{template "summonersmall" $p.SummonerSpell1}}{{template "summonersmall" $p.SummonerSpell2}}</td>
            <td>{{template "itemsmall" .Item0}}{{template "itemsmall" .Item1}}{{template "itemsmall" .Item2}}{{template "itemsmall" .Item3}}{{template "itemsmall" .Item4}}{{template "itemsmall" .Item5}}{{template "itemsmall" .Item6}}</td>
          {{end}}
        {{else}}
          <td colspan="6" class="blend">not fetched yet</td>
        {{end}}
      {{end}}
      </tr>
    {{end}}
  </table>
{{end}}