{{/* base.go: ctxBase */}}
{{define "base"}}<html>
<head>
  <title>{{.ctxBase.Title}}</title>
  <link rel="stylesheet" type="text/css" href="/static/common.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="/static/common.js"></script>
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="header">
  <ul class="nav left">
    <li><a href="/home">LoLTools(alpha)</a></li>
    <li><a href="/leagues">Leagues</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
  <ul class="nav right">
    <li>{{.ctxBase.User}}</li>
  </ul>
</div>
{{if .ctxBase.Errors}}
  <div id="errors">
  {{range .ctxBase.Errors}}
  <div>{{.}}</div>
  {{end}}
  </div>
{{end}}
<div id="content">
  {{template "content" .}}
</div>
<div id="footer">
  <hr \>
  Current datetime is {{.ctxBase.TimeNow}}
</div>
</body>
</html>{{end}}