<html>
<head>
  <title>{{.Title}}</title>
  <link rel="stylesheet" type="text/css" href="/static/common.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
<div id="header">
  <ul id="nav">
    <li><a href="/home">LoLTools</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</div>
<div id="content">
  {{.ContentHTML}}
</div>
<div id="footer">
  Current datetime is {{.TimeNow}}
</div>
</body>
</html>
