{{/* extends base.html */}}
{{define "content"}}
<h2>{{.League.Name}}</h2>

{{$league := .League}}

<h3>Standings</h3>
<table class="base">
  <tr><th>Team</th><th>Wins</th><th>Losses</th></tr>
  {{range $i, $x := .Teams}}
    <tr class="{{if even $i}}even{{else}}odd{{end}}">
      <td><a href="{{.Uri}}">{{.Name}}</a></td>
      <td>{{.Wins}}</td>
      <td>{{.Losses}}</td>
    </tr>
  {{end}}
</table>

<h3>Add New Team</h3>
<form id="add-team">
  <input type="hidden" name="league" value="{{.Id}}" />
  Team Name: <input type="text" name="team" value="" />
{{with $x := form "add-team" "/api/leagues/add-team" "Create"}}
{{template "formEnd" $x}}
{{end}}

<h3>Group Permissions</h3>
<table class="base">
  <tr><th>Group</th><th>Can View</th><th>Can Edit</th></tr>
  {{range $i, $acl := .GroupAcls}}
    <tr>
      <td>{{.Group.Name}}</td>
      <td>
        {{$formid := printf "view-%d" $i}}
        {{template "bool:yes-no" .CanView}}
        <form id="{{$formid}}">
          <input type="hidden" name="league" value="{{$league.Id}}" />
          <input type="hidden" name="group" value="{{.Group.Id}}" />
          <input type="hidden" name="acl" value="view" />
      {{if .CanView}}
        {{with $x := form $formid "/api/leagues/group-acl-revoke" "Revoke"}}
        {{template "formEnd" $x}}
        {{end}}
      {{else}}
        {{with $x := form $formid "/api/leagues/group-acl-grant" "Grant"}}
        {{template "formEnd" $x}}
        {{end}}
      {{end}}
      </td>
      <td>
        {{template "bool:yes-no" .CanEdit}}
        {{$formid := printf "edit-%d" $i}}
        <form id="{{$formid}}">
          <input type="hidden" name="league" value="{{$league.Id}}" />
          <input type="hidden" name="group" value="{{.Group.Id}}" />
          <input type="hidden" name="acl" value="edit" />
      {{if .CanEdit}}
        {{with $x := form $formid "/api/leagues/group-acl-revoke" "Revoke"}}
        {{template "formEnd" $x}}
        {{end}}
      {{else}}
        {{with $x := form $formid "/api/leagues/group-acl-grant" "Grant"}}
        {{template "formEnd" $x}}
        {{end}}
      {{end}}
      </td>
    </tr>
  {{end}}
</table>
{{end}}