{{/* extends base.html */}}
{{define "content"}}
<h2>{{.League.Name}}</h2>

{{$league := .League}}

<h3>Standings</h3>
<table class="base">
  <tr><th>Team</th><th>Wins</th><th>Losses</th></tr>
  {{range $i, $x := .Teams}}
    <tr class="{{if even $i}}even{{else}}odd{{end}}">
      <td><a href="{{.Uri}}">{{.Name}}</a></td>
      <td>{{.Wins}}</td>
      <td>{{.Losses}}</td>
    </tr>
  {{end}}
</table>

<h3><a href="/leagues/{{$league.Id}}/matches/create">Create a Match</a></h3>

<h3>Add New Team</h3>
<form id="add-team">
  <input type="hidden" name="league" value="{{.Id}}" />
  Team Name: <input type="text" name="team" value="" />
  <input type="submit" value="Create" />
</form>
<script>loltools.registerForm("add-team", "/api/leagues/add-team")</script>

<h3>Group Permissions</h3>
<table class="base">
  <tr><th>Group</th><th>Can View</th><th>Can Edit</th></tr>
  {{range $i, $acl := .GroupAcls}}
    <tr>
      <td>{{.Group.Name}}</td>
      <td>
        {{$formid := printf "view-%d" $i}}
        {{template "bool:yes-no" .CanView}}
        <form id="{{$formid}}">
          <input type="hidden" name="league" value="{{$league.Id}}" />
          <input type="hidden" name="group" value="{{.Group.Id}}" />
          <input type="hidden" name="acl" value="view" />
          <input type="submit" value="{{if .CanView}}Revoke{{else}}Grant{{end}}" />
        </form>
        <script>
        loltools.registerForm(
            "{{$formid}}",
            "/api/leagues/group-acl-{{if .CanView}}revoke{{else}}grant{{end}}");
        </script>
      </td>
      <td>
        {{$formid := printf "edit-%d" $i}}
        {{template "bool:yes-no" .CanEdit}}
        <form id="{{$formid}}">
          <input type="hidden" name="league" value="{{$league.Id}}" />
          <input type="hidden" name="group" value="{{.Group.Id}}" />
          <input type="hidden" name="acl" value="edit" />
          <input type="submit" value="{{if .CanEdit}}Revoke{{else}}Grant{{end}}" />
        </form>
        <script>
        loltools.registerForm(
            "{{$formid}}",
            "/api/leagues/group-acl-{{if .CanEdit}}revoke{{else}}grant{{end}}");
        </script>
      </td>
    </tr>
  {{end}}
</table>
{{end}}