{{/* extends base.html */}}
{{define "content"}}
<h2>{{.Group.Name}}</h2>

<h3>Members</h3>
<ul>
  {{range .Members}}
    <li>{{.Email}}{{if .Owner}} (owner){{end}}</li>
  {{end}}
</ul>

<h3>Proposed Members</h3>
{{if .ProposedMembers}}
<table class="base">
  <tr>
    <th>User</th><th>Notes</th><th></th>
  </tr>
  {{range $i, $m := .ProposedMembers}}
  <tr>
    <td>{{.Email}}</td>
    <td>{{.Notes}}</td>
    <td>
      {{with $f := printf "accept-proposal-%d" $i}}
      <form style="display:inline-block" id="{{$f}}">
        <input type="hidden" name="email" value="{{$m.Email}}" />
        <input type="hidden" name="group" value="{{$.Group.Id}}" />
        <input type="submit" value="Accept" />
      </form>
      <script>loltools.registerForm("{{$f}}", "/api/groups/add-user")</script>
      {{end}}
      {{with $f := printf "reject-proposal-%d" $i}}
      <form style="display:inline-block" id="{{$f}}">
        <input type="hidden" name="email" value="{{$m.Email}}" />
        <input type="hidden" name="group" value="{{$.Group.Id}}" />
        <input type="submit" value="Reject" />
      </form>
      <script>loltools.registerForm("{{$f}}", "/api/groups/del-user")</script>
      {{end}}
    </td>
  </tr>
  {{end}}
</table>
{{else}}
<p>None</p>
{{end}}

<h3>Add Member</h3>
<form id="add-member">
  <input type="hidden" name="group" value="{{.Group.Id}}" />
  User Email: <input type="text" name="email" value="" /><br />
  Owner: <input type="checkbox" name="owner" value="1" /><br />
{{with $x := form "add-member" "/api/groups/add-user" "Add"}}
{{template "formEnd" $x}}
{{end}}

<h3>Remove Member</h3>
<form id="del-member">
  <input type="hidden" name="group" value="{{.Group.Id}}" />
  User Email: <input type="text" name="email" value="" /><br />
{{with $x := form "del-member" "/api/groups/del-user" "Remove"}}
{{template "formEnd" $x}}
{{end}}

{{end}}