{{/* . GameInfo */}}
{{define "gameshort"}}
{{$gid := printf "%s-%d" .Game.Region .Game.RiotId}}
<div class="game-short" id="{{$gid}}">
  <div class="{{template "blue-or-purple" .ThisTeam}}-team">
    <div class="header group">
      <div class="left">
        <span class="game-type">{{.Game.FormatGameType}}</span>
      </div>
      <div class="right">
        <span class="kda">{{template "gameshort-kda" .ThisTeam}}</span>
        <span class="gold">{{template "gameshort-gold" .ThisTeam}}</span>
      </div>
      {{template "gameshort-team-header" .ThisTeam}}
    </div>
    <div style="display:none" id="{{$gid}}-player-stats-0">
      {{template "gameshort-team-contents" .ThisTeam}}
    </div>
    <div class="footer group">
      <div class="left">
        <span class="team-name">TODO:team-name</span>
      </div>
      <div class="right">
        <button class="expand-trigger"
                id="{{$gid}}-expand-trigger-0">▼</button>
      </div>
    </div>
  </div><div class="{{template "blue-or-purple" .OtherTeam}}-team">
    <div class="header group">
      <div class="right">
        {{if .LeagueId}}
          <a href="/leagues/{{.LeagueId}}/games/{{.Game.Id}}">edit</a>
          ‧
        {{end}}
        <a class="details"
           href="{{riot_history_link .Game.Region .Game.RiotId}}">
        full details
        </a>
      </div>
      <div class="left">
        <span class="gold">{{template "gameshort-gold" .OtherTeam}}</span>
        <span class="kda">{{template "gameshort-kda" .OtherTeam}}</span>
      </div>
      {{template "gameshort-team-header" .OtherTeam}}
    </div>
    <div style="display:none" id="{{$gid}}-player-stats-1">
      {{template "gameshort-team-contents" .OtherTeam}}
    </div>
    <div class="footer group">
      <div class="left">
        <span class="team-name">TODO:team-name</span>
      </div>
      <div class="right">
        <button class="expand-trigger"
                id="{{$gid}}-expand-trigger-1">▼</button>
      </div>
    </div>
  </div>
</div>
<script>
loltools.registerExpando(
    "#{{$gid}}-expand-trigger-0,#{{$gid}}-expand-trigger-1",
    "#{{$gid}}-player-stats-0,#{{$gid}}-player-stats-1",
    "▼", "▲");
</script>
{{end}}

{{define "blue-or-purple"}}{{if .IsBlueTeam}}blue{{else}}purple{{end}}{{end}}
{{define "gameshort-kda"}}{{.ChampionsKilled}}‧{{.NumDeaths}}‧{{.Assists}}{{end}}
{{define "gameshort-gold"}}⦑{{gold .GoldEarned}}⦒{{end}}
{{define "game-id"}}{{printf "%s-%d" .Region .RiotId}}{{end}}

{{define "gameshort-team-header"}}
<div class="champion-icon-row">
  {{range .Players}}{{template "champsmall" .ChampionId}}{{end}}
</div>
{{end}}

{{define "gameshort-team-contents"}}
<table class="short-player-stats">
  <tr class="header">
    <th>Player</th>
    <th>K‧D‧A</th>
    <th>Gold</th>
    <th>CS</th>
    <th>Wards</th>
  </tr>
  {{range .PlayerStats}}
    <tr class="{{if .IsOnAppTeam}}member{{else}}other{{end}}">
      <td>{{.Player.Summoner}}</td>
    {{if .NotAvailable}}
      <td colspan="4" class="blend">no longer available</td>
    {{else}}
      {{if .Saved}}
        {{with .Stats.RiotData}}
          <td>{{template "gameshort-kda" .}}</td>
          <td>{{template "gameshort-gold" .}}</td>
          <td>{{.MinionsKilled}}</td>
          <td>{{.WardPlaced}}({{.SightWardsBought}}/{{.VisionWardsBought}})</td>
        {{end}}
      {{else}}
        <td colspan="4" class="blend">not fetched yet</td>
      {{end}}
    {{end}}
    </tr>
  {{end}}
</table>
{{end}}
