body {
  font-family: Arial, sans-serif;
}

form {
  margin: 0
}
form .label {
  margin-left: 2px;
  font-weight: bold;
}
form .tip {
  margin-left: 2px;
  font-size: small;
  color: rgba(0,0,0,0.7);
}

#header {
  background-color: #ccc;
  height: 40;
}

#header > .left {
  float: left;
}

#header > .right {
  float: right;
}

#errors {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  background-color: rgba(255,239,239,0.7);
  padding: 0;
  margin: 0;
  font-weight: bold;
}
#errors:hover {
  background-color: rgba(255,239,239,1);
}

#errors div {
  padding: .5em;
  border: thin dotted red;
}

#footer {
  margin-top: 6em;
  font-size: small;
}

ul.nav {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

ul.nav li {
  display: inline;
  margin: 0 1em 0 1em;
  line-height: 40px;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16;
}

.nav a:link, .nav a:visited {
  color: black;
}

.nav a:hover, .nav a:active {
  color: #666;
}

#content {
  
}

table.base {
  border-collapse:collapse;
}

table.base th, table.base td {
  border: thin solid gray;
  padding: 3px 7px 2px 7px;
}

table.base th {
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #444;
  color: #fff;
}

table.base tr.even td {
  background-color: #eee;
}

table.base tr.odd td {
  background-color: #fff;
}

table.base tr:hover td {
  background-color: #efe;
}

.game-short {
  margin-bottom: 10px;
}

.game-short .team-summary {
  text-align: center;
  font-weight: bold;
}

.game-short .blue-team, .game-short .purple-team {
  display: inline-block;
}

.game-long {
  margin-bottom: 3em;
}

.game-long .player-summoner-name {
  font-size: 120%;
}

.game-long .team-summary p {
    margin: 0 0.5em;
}

.game-long .team-summary .summary-label {
    font-weight: bold;
}

.blue-team, .purple-team {
  margin: 0;
  padding: 0;
  border: thick solid;
}

.blue-team {
  min-width: 300px;
  background-color: #adf;
  border-color: #036;
}
.blue-team table th, .blue-team .header {
  color: #fff;
  background-color: #036;
}
.blue-team tr.odd td {
  background-color: #a3d3f3;
}

.purple-team {
  min-width: 300px;
  background-color: #daf;
  border-color: #306;
}
.purple-team table th, .purple-team .header {
  color: #fff;
  background-color: #306;
}
.purple-team tr.odd td {
  background-color: #d3a3f3;
}

.champion-icon-row {
  display: inline-block;
  padding-bottom: 5px;
}

.game-short {
  min-width: 600px;
}

.game-short .header {
  width: 100%;
}

.champion-icon-row {
  display:block;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.short-player-stats {
  width: 100%;
  font-size: small;
}

table.short-player-stats {
  border-collapse: collapse;
}

table.short-player-stats th {
  text-align: left;
}

table.short-player-stats th, table.short-pverify-summoner-{{$s.Player.Region}}-{{$s.Player.RiotId}}layer-stats td {
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

.short-player-stats .blend {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  font-size: 75%;
}

.short-player-stats tr.member {
}
.short-player-stats tr.other {
  color: rgba(0, 0, 0, 0.5);
}

.long-player-stats {
  width: 100%;
}

table.long-player-stats {
  border-collapse:collapse;
}

table.long-player-stats th {
  text-align: left;
}

table.long-player-stats th, table.long-player-stats td {
  padding: 0;
  margin: 0;
  border: none;
}

.long-player-stats .blend {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.long-player-stats tr.member {
}
.long-player-stats tr.other {
  color: rgba(0, 0, 0, 0.5);
}

div.sprite {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: none;
}

div.sprite img {
  position: absolute;
}
