body {
  font-family: Arial, sans-serif;
}

#header {
  background-color: #ccc;
  height: 40;
}

#header > .left {
  float: left;
}

#header > .right {
  float: right;
}

div#errors {
  background-color: #fee;
  padding: .2em;
}

#footer {
  margin-top: 6em;
  font-size: small;
}

ul.nav {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

ul.nav li {
  display: inline;
  margin: 0 1em 0 1em;
  line-height: 40px;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16;
}

.nav a:link, .nav a:visited {
  color: black;
}

.nav a:hover, .nav a:active {
  color: #666;
}

#content {
  
}

table {
  border-collapse:collapse;
}

th, td {
  border: thin solid gray;
  padding: 3px 7px 2px 7px;
}

th {
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #444;
  color: #fff;
}

tr.even td {
  background-color: #eee;
}

tr.odd td {
  background-color: #fff;
}

tr:hover td {
  background-color: #efe;
}

div.sprite {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: none;
}

div.sprite img {
  position: absolute;
}