body {
  font-family: Arial, sans-serif;
}

#header {
  background-color: #ccc;
  height: 40;
}

#header > .left {
  float: left;
}

#header > .right {
  float: right;
}

#footer {
  margin-top: 6em;
  font-size: small;
}

ul.nav {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

ul.nav li {
  display: inline;
  margin: 0 1em 0 1em;
  line-height: 40px;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16;
}

.nav a:link, .nav a:visited {
  color: black;
}

.nav a:hover, .nav a:active {
  color: #666;
}

#content {
  /*clear: both;*/
}